body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../images/login.jpg") no-repeat center center fixed;
  background-size: cover;
}


.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.897);
  text-align: center;
  width: 300px;
}

.login-box input, .login-box button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  background: #0056b3;
}
